.table {
  min-width: 700px;
}

mat-form-field {
  width: 50px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.total {
  text-align: right;
  padding: 30px 30px 0 0;
}

.total span {
  font-weight: bold;
  color: #37479F;
}

