.container {
  padding: 0 30px;
}

.table {
  width: 100%;
}

mat-form-field {
  width: 50px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
